<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bikan8.mapper.AdminMapper">
   <select id="findAll" parameterType="int" resultType="Admin" >
    select  id,aname,apwd,disabled,grade from t_admin where grade >= #{grade}
   </select>



</mapper>